####### PIP requirements - For Dev #######

# Load requirements for "production"
-r requirements.txt


## ----- Testing ------
#

pytest==2.6.0
py==1.10.0
mock==1.0.1


## ----- Linting ------
#

flake8==2.1.0
mccabe==0.2.1
pep8==1.4.6
pyflakes==0.7.3


## ----- Documentation ------
#

Sphinx==1.2
docutils==0.11
MarkupSafe==0.23
Pygments==2.7.4


## ----- Miscellaneous ------
#

# Python-based project scripting.
# :link: http://paver.github.io/paver/
Paver==1.2.1

# For coloring console output
colorama==0.2.7
